<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.dao.DoctorDAO">

    <resultMap id="docResultMap" type="doctor">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="major" column="major" />
        <result property="des" column="des" />
        <association property="dept" javaType="com.gs.bean.Department">
            <id property="id" column="d_id"/>
            <result property="name" column="d_name"/>
            <result property="address" column="d_address"/>
            <result property="des" column="d_des"/>
        </association>
    </resultMap>

    <select id="queryById" parameterType="string" resultMap="docResultMap">
        <![CDATA[
        select * from t_doctor where id=#{id}
        ]]>
    </select>

    <select id="query" parameterType="dept" resultMap="docResultMap">
        <![CDATA[
        select * from t_doctor
        ]]>
    </select>

    <select id="queryByPagerAndCriteria" resultType="list" resultMap="docResultMap">
        <![CDATA[
        select doc.*, d.id as d_id, d.name as d_name, d.address as d_address, d.des as d_des from t_doctor doc, t_department d where 1 = 1 and doc.dept_id = d.id
        ]]>
        limit #{pager.beginIndex}, #{pager.pageSize}

    </select>

    <select id="countByCriteria" resultType="int">
        <![CDATA[
        select count(1) from t_doctor where 1 = 1
        ]]>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="dept">
        <![CDATA[
        insert into t_doctor(name, dept_id, major, des) values(#{name}, #{dept.id}, #{major}, #{des})
        ]]>
    </insert>

    <update id="update" keyProperty="id" parameterType="dept">
        <![CDATA[
        update t_doctor set name = #{name}, dept_id=#{dept.id}, major = #{major}, des = #{des} where id = #{id}
        ]]>
    </update>

</mapper>