<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.dao.NewsDAO">

    <resultMap id="newsResultMap" type="news">
        <id property="id" column="id" />
        <result property="pubTime" column="pub_time" />
        <result property="abstracts" column="abstracts" />
    </resultMap>

    <select id="queryById" parameterType="string" resultMap="newsResultMap">
        <![CDATA[
        select * from t_news where id=#{id}
        ]]>
    </select>

    <select id="queryByTitle" resultType="list" resultMap="newsResultMap">
        <![CDATA[
        select * from t_news limit 9
        ]]>
    </select>

    <select id="query" parameterType="article" resultMap="newsResultMap">
        <![CDATA[
        select * from t_news
        ]]>
    </select>

    <select id="queryAll" resultMap="newsResultMap">
        <![CDATA[
        select * from t_news
        ]]>
    </select>

    <select id="queryByPagerAndCriteria" resultType="list" resultMap="newsResultMap">
        <![CDATA[
        select * from t_news where 1 = 1
        ]]>
        limit #{pager.beginIndex}, #{pager.pageSize}

    </select>

    <select id="countByCriteria" resultType="int">
        <![CDATA[
        select count(1) from t_news where 1 = 1
        ]]>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="article">
        <![CDATA[
        insert into t_news(title, author, content, abstracts, pub_time) values(#{title}, #{author}, #{content}, #{abstracts}, #{pubTime})
        ]]>
    </insert>

    <update id="update" keyProperty="id" parameterType="article">
        <![CDATA[
        update t_news set title = #{title}, author = #{author}, content = #{content}, abstracts=#{abstracts} where id = #{id}
        ]]>
    </update>

</mapper>